<?php

class Database
{
	private $conn = null;

	protected function init()
	{
		$servername = "localhost";
		$username = "username";
		$password = "password";
		$dbname = "dbname";

		try 
		{	
		    $this->conn = new PDO("mysql:host=$servername;dbname=$dbname", $username, $password);
		    $this->conn->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);
		    return true; 
	    }
		catch(PDOException $e)
	    {
	    	//echo "Connection failed: " . $e->getMessage() . "<br>";
	    	return false;
	    }
	}

	protected function query($sql)
	{
		try
		{
			$this->conn->exec($sql);
	    	return true;
	    }
		catch(PDOException $e)
	    {
	    	echo $e->getMessage();
	    	return false;
	    }
	}

	protected function select($sql)
	{
		try
		{
			$result = $this->conn->query($sql);
			$return = array();
			if($result!=false)
			{
				foreach ($result as $row) 
				{
					for($i = 0;$i < $result->columnCount();$i++){
						$col = $result->getColumnMeta($i);
						$name = $col['name'];
						$return[$name] = $row[$name];
					}
				}
				return $return;
			}
			return false;
		}	
		catch(PDOException $e) 
		{
    		echo "Error: " . $e->getMessage();
		}
	}

	protected function close()
	{
		$this->conn = null;
	}

	protected function exist($table)
	{
		try{
			$this->conn->query("SELECT 1 FROM $table LIMIT 1");
			return true;
		}catch(PDOException $e)
		{
			return false;
		}
	}

	public function queryOnMigrate($sql){
		$this->init();
		try
		{
			$this->conn->exec($sql);
	    	return true;
	    }
		catch(PDOException $e)
	    {
	    	echo $e->getMessage();
	    	return false;
	    }
	    $this->close();
	}
}
?>